<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MadLibs</title>
    </head>
            <div>
				<% files = Dir.entries("uploads/")%>
				<% for i in 1..2%>
					<% files.shift()%>
				<% end%>
                <% files.each { |file|%>
					
            </div>		
    </body>
</html>