<head>
    <title>Upload</title>
</head>
_END_
<% t=File.new(('uploads/' + params['myfile'][:filename]), "w") do |f|
	tempf = File.open(params['myfile'][:tempfile], "r")
	f.write(tempf.read)
	tempf.close
end
t.close%>
<hr>
<div class = "container text-center">
	<p>File uploaded successfully</p>
</div>