<head>
    <title>Upload</title>
    <link rel="stylesheet" href="style.css">
</head>
	<hr>
	<div class = "container">
		<div class = "row text-center">
			<h1>File Uploader</h1>
			<br>
			<form action="/upload" method = "post" enctype = "multipart/form-data">
				<input type = "file" name = "myfile">
				<br>
				<input type = "submit" id = "button">
			</form>
		</div>
	</div>
</body>
	