@charset "utf-8";

html{
    background-image: url(../RadLib/public/background.jpg);
    color: #21292b;
}

body{
    margin: 0px;
    width: 800px;
    color: #fff;
    padding-top: 0;
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
    
}

header{
    float: left;
    background: #21292b;
    color: #f6ffe0;
    height: 100%;
    text-align: left;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Impact, Haettenschweiler, sans-serif;
}
/* nav{
    float: right;
}

nav li{
    display: inline-block;
    background: #000;
    color: #f6ffe0;
    margin-bottom: 5px;
    padding: .25em;
    text-align: center;   
}
p{
    clear: both;
}
table{
    border-collapse: collapse;
} */